/*
 * 제목: home.css scg전용
 * 작성자: 서창균
 * 관리약자: scg
 * 생성일: 2020.04.24
 * 요약:
 * - scg 내부에  들어갈 CSS 스타일을 정리한다.
 * 참조:
 * - 
 */
 
@CHARSET "UTF-8";

html {
  	background: #ff8000;
}

#test{
	width: 10rem;
	height: 15rem;
	position:absolute;
	left: 50%;
	top: 25%;
    transform: translate(-50%, -50%);
}

/*codepen.io*/
html, body {
	width: 100vw;
	height: 100vh;
}

form{
	width: 290px;
	height: 50px;
	position:absolute;
	left: 50%;
	top: 50%;
    transform: translate(-50%, -50%);
}
fieldset {
	padding: 0 0 0 40px;
	background: #fff;
	border: none;
	border-radius: 5px;
}

input, button {
	position: relative;
	width: 200px;
	height: 50px;
	padding: 0;
	display: inline-block;
	float: left;
}

input {
	color: #666;
	z-index: 2;
	border: 0 none;
}

input:focus {
	outline: 0 none;
}

input:focus+button {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

input:focus+button .fa {
	-webkit-transform: translate(0px, 0);
	-ms-transform: translate(0px, 0);
	transform: translate(0px, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	color: #fff;
}

button {
	z-index: 1;
	width: 50px;
	border: 0 none;
	background: #ceb980;
	cursor: pointer;
	border-radius: 0 5px 5px 0;
	-webkit-transform: translate(-50px, 0);
	-ms-transform: translate(-50px, 0);
	transform: translate(-50px, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.fa-search {
	font-size: 1.4rem;
	color: #29abe2;
	z-index: 3;
	top: 25%;
	-webkit-transform: translate(-190px, 0);
	-ms-transform: translate(-190px, 0);
	transform: translate(-190px, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}