<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd"
  >
<!--
	mapper관련 DTD 추가 DTD :
		xml 문서(파일) 구조를 정의.
		데이터 교환의 표준형식임.
		데이터가 유효한 데이터인지를 판단 가능
-->
<mapper namespace="com.itwill.team1.mappers.lbj.memberMapper">

	<select id="selectDao" resultType="string">
		select * from lbj;
	</select>
	
</mapper>